@{
    ViewData["Title"] = "CLASS FILE SHARING SYSTEM";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<style>
    * {
      box-sizing: border-box; /* not completely needed, yet useful */
    }

    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .main {
      width: 100%;
      height: 100%;
      /* background-image: url("https://daihoc.fpt.edu.vn/wp-content/uploads/2019/10/nha-alpha.jpg"); */
      mix-blend-mode: multiply;
      position: relative;
      overflow: hidden;
    }
    .container {
      position: absolute; /* Position the background text */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; /* At the bottom. Use top:0 to append it to the top */
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      max-width: 100%; /* Full width */
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
    .btn-landing {
      margin-top: 16px;
      color: #ffffff;
      background-color: transparent;
      border: 0.5px solid rgb(194, 194, 194);
      border-radius: 5%;
      padding: 10px 45px;
      text-decoration: none;
      font-weight: bold;
    }
    .btn-landing:hover {
      background-color: rgb(255, 255, 255);
      color: black;
    }
</style>
<body>
    <div class="main">
        <img src="https://daihoc.fpt.edu.vn/media/2022/03/IMG_0200-910x683.jpg"
             alt=""
             style="width: 100%" />
        <div class="container d-flex flex-column">
            <h1>CLASS FILE SHARING SYSTEM</h1>
            <a class="btn-landing" href="/Identity/Account/Login"> LOGIN </a>
            <a class="btn-landing" href="/Identity/Account/Register"> SIGN UP </a>
        </div>
    </div>
</body>
</html>