@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Course Page";
}
<link rel="stylesheet" href="~/css/course.css" />
<div class="container d-flex justify-content-center" id="container">

    <ul class="list-group mt-5 text-white">
        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row">
                <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                <div class="ml-2">
                    <h6 class="mb-0">Macan Worldgroup</h6>
                    <div class="about">
                        <span>62 Files</span>
                        <span>Jan 22, 2020</span>
                    </div>
                </div>
            </div>
            <div id="menu-wrap">
                    <input type="checkbox" style="" class="toggler" />
                    <div class="dots">
                        <div></div>
                    </div>
                    <div class="menu">
                        <div>
                            <ul>
                                <li><a href="#" class="link">Option one</a></li>
                                <li><a href="#" class="link">Option two</a></li>
                                <li><a href="#" class="link">Option three</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </li>
    </ul>

</div>