@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Student List</h1>
<div class="section-account pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
    <div class="card shadow mb-4 mt-4" style="width: 100%;margin-top:32px;">
        <div style="margin-left:16px" class="d-flex">
            <form method="post" asp-page-handler="SearchUser" style="with:50%;">
                <div class="mb-3 mt-4">
                    <input type="text" value="" placeholder="Enter username wanna search in this class?" class="form-control" id="tb10" aria-describedby="emailHelp" name="adUserSearch">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button"
                        class="btn btn-primary btn-rounded"
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="modal"
                        data-bs-target="#addStudentModal">
                    Add Student
                </button>
            </form>

        </div>
        <div class="card-body" id="cardBody">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">StudentNumber</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>u.Id</td>
                        <td>u.Username</td>
                        <td>u.Password</td>
                        <td>u.Cash</td>
                        <td>u.Cash</td>
                        <td><a class="addCard" href="/Dashboard?Handler=Delete&id=u.Id"><strong>Delete</strong></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
