@using BusinessObjects.Entities
@model List<ApplicationUser>;
<h1>Student List</h1>
<div class="section-account pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
    <div class="card shadow mb-4 mt-4" style="width: 100%;margin-top:32px;">
        <div style="margin-left:16px" class="d-flex">
             <form method="post" action="/Student/SearchStudent" style="with:50%;">
                <div class="mb-3 mt-4">
                    <input type="text" value="" placeholder="Enter email or student number wanna search" class="form-control" id="tb10" aria-describedby="emailHelp" name="adStudentSearch">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button"
                        class="btn btn-primary btn-rounded"
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="modal"
                        data-bs-target="#addStudentModal">
                    Add Student
                </button>
                <a href="/Course">
                    Back to Course
                </a>
            </form>
            

        </div>
        <div class="card-body" id="cardBody">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">StudentNumber</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationUser u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.FullName</td>
                            <td>@u.Email/td>
                            <td>@u.StudentNumber</td>
                            <td><a class="addCard" href="/Student/RemoveStudent?studentId=@u.Id&courseId=@ViewData["courseId"]"><strong>Remove</strong></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
